body, html {
    margin: 0px;
    padding: 0px;
    text-align: center;
    height: 100%;
    font-family: 'Architects Daughter', cursive;
}
canvas {
    margin-bottom: -4px;
    max-height: 100%;
    max-width: 100%;
}
iframe {
    position: fixed;
    top: 0px;
    left: 50%;
    margin-left: -76px;
}

canvas {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    z-index: 1;
}

#interactionsHash {
    font-family: 'Roboto', sans-serif;
}

.clearfix {
    clear: both;
}

.landing-page, .get-ready, .leader-board, .signup {
    color: #fff;
    width:100%;
    max-width:75vh;
    height: 100vh;
    position:absolute;
    left:0;
    right:0;
    margin: auto;
    background-color: rgba(0,0,0,0.5);
}
.landing-page {
    z-index: 2;
}
.get-ready {
    z-index: 3;
}
.leader-board {
    z-index: 4;
}
.signup {
    z-index: 5;
}

.landing-page h3 {
    width: 100%;
    text-align: center;
    font-size: 2.5vh;
}
.current-leader {
    width: 100%;
    color: #FFEA05;
}
.current-leader .position, .leader-board .item .position {
    width: 12.5%;
    float:left;
    font-size: 3.5vh;
    line-height: 3.5vh;
}
.current-leader .profile-photo, .leader-board .item .profile-photo {
    width: 4vh;
    height: 4vh;
    margin-right: 1vw;
    float:left;
    background-image: url('img/face.jpeg');
    background-size:contain;
    background-position: center;
    border-radius: 50%;
}
.current-leader .score-wrapper, .leader-board .item .score-wrapper {
    width: 55%;
    float: left;
}
.current-leader .score-wrapper .name, .leader-board .item  .score-wrapper .name {
    display:block;
    text-align: left;
    width: 60%;
    font-size: 3.5vh;
    line-height: 3.5vh;
    font-weight: 300;
    float: left;
}
.current-leader .score-wrapper .points, .leader-board .item .score-wrapper .points {
    display:block;
    width: 40%;
    font-size:3.5vh;
    line-height: 3.5vh;
    text-align:left;
    float: left;
}
.current-leader .prize, .leader-board .item .prize  {
    width:20%;
    float:left;
}

.landing-page .main-header {
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    margin:auto;
    height:60vh;
    font-size: 5vh;
    text-align: center;
    padding:5vw;
}

.landing-page .main-header span {
    display:block;
}
.landing-page .main-header span b {
    font-size: 3.5vh;
}
.landing-page .main-header .logo {
/*    background-image: url('img/logobit.png'); 
    background-color: rgba(255,255,255, 0.3);
    border-radius: 50%; */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 20vh;
    width: 20vh;
    margin:auto;
}
.landing-page .main-header .play-now {
    font-size:2.5vh;
}
.landing-page .main-header #qrcode {
    height: 240px;
    width:240px;
    background-color: rgba(255,255,255, 0.6);
    padding: 20px;
    margin: auto;

}
.landing-page .main-header #qrcode img {
    margin:20px auto;
}

.landing-page .main-header .shortlink {
    width: 100%;
    text-align: center;
    font-size: 3vh;
    margin-top: 0.5vh;
    font-family: 'Roboto', sans-serif;
}

/* .get-ready {
    color: #fff;
    width:75vh;
    height: 100vh;
    position:absolute;
    left:0;
    right:0;
    margin: auto;
    background-color: rgba(0,0,0,0.5);
} */

.get-ready h3 {
    width: 100%;
    text-align: center;
    font-size: 2.5vh;
    margin-bottom: 0;
}
.get-ready .counter {
    font-size: 6vh;
    line-height: 6vh;
    font-weight: 300;
}
.get-ready .instruction-tap {
    font-size: 2vh;
    text-transform: uppercase;
    color:#FFEA05;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin: auto;
    height: 50vh;
}
.get-ready .instruction-tap .phone {
    background-image: url('img/phone.png');
    background-position:center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 1vh;
    width: 100%;
    height: 40vh;
}

.leader-board h3 {
    width: 100%;
    text-align: center;
    font-size: 2.5vh;
}

/* .leader-board {
    color: #fff;
    width:75vh;
    height: 100vh;
    position:absolute;
    left:0;
    right:0;
    margin: auto;
    background-color: rgba(0,0,0,0.5);
} */
.leader-board .item {
    color: #FFEA05;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

/* .signup {
    color: #fff;
    width:75vh;
    height: 100vh;
    position:absolute;
    left:0;
    right:0;
    margin: auto;
    background-color: rgba(0,0,0,0.5);
} */
.signup h3 {
    width: 100%;
    text-align: center;
    font-size: 3.5vh;
    color: #FFEA05;
    margin-bottom: 0;
    font-weight:300;
}
.signup .score {
    width: 100%;
    text-align:center;
    font-size:6vh;
    color: #FFEA05;
}
.signup .instruction-signup {
    font-size: 2vh;
    text-transform: uppercase;
    color:#FFEA05;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin: auto;
    height: 50vh;
}
.signup .instruction-signup .phone {
    background-image: url('img/phone_signup.png');
    background-position:center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 1vh;
    width: 100%;
    height: 40vh;
}

.signal-quality, .latency {
    display: none;
}

.latency {
    position:absolute;
    left:0;
    right:0;
    bottom:20px;
    margin: auto;
    height: 6vw;
    width: 25vw;
    z-index:100;
}
.latency h3 {
    margin-bottom: 0;
}
.latency .latency-value {
    font-size: 1.17em;
    width: 100%;
    text-align:center;
    display: block;
}

.signal-quality {
    position: absolute;
    left:20px;
    bottom:20px;
    width: 25vw;
    height: 6vw;
}

.signal-quality h3 {
    margin-bottom:0;
}
.progress-bar {
    
    width: 25vw;
    height:2vw;
    z-index: 100;
    border:2px solid #3db9ea;
}

@-webkit-keyframes animate-stripes {
   100% { background-position: -100px 0px; }
}

@keyframes animate-stripes {
   100% { background-position: -100px 0px; }
}


progress[value]::-webkit-progress-value {
  background-image:
       -webkit-linear-gradient(-45deg, 
                               transparent 33%, rgba(0, 0, 0, .1) 33%, 
                               rgba(0,0, 0, .1) 66%, transparent 66%),
       -webkit-linear-gradient(top, 
                               rgba(255, 255, 255, .25), 
                               rgba(0, 0, 0, .25)),
       -webkit-linear-gradient(left, #f44, #18de30);

    border-radius: 2px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
    width: 100%;
    height: 2vw;
    
}
progress {
    width: 100%;
    background: red;
    -webkit-animation: animate-stripes 5s linear infinite;
    animation: animate-stripes 5s linear infinite;
}
.sonae-logo {
    width: 25vw;
    height: 5vw;
    background-image: url('img/sonaeMC.png');
    background-position:center;
    background-size: contain;
    background-repeat: no-repeat;
    position:absolute;
    bottom: 0;
    right: 0;
}


